body{
    background-color:#2C313A
}

p{
    color:#A3AAB8;
    font-family: 'Roboto', sans-serif;
    line-height: 130%;
}

a{
    color:#97C475;
}

main{
    max-width: 42rem;
    margin-left:auto;
    margin-right:auto;
}