.blue-heading{
    color:#C775DF;
}

article{
    margin-top:15px;
}

.post-title{
    font-size:1.5rem;
    margin-bottom:.5rem;
}

.post-date{
    margin-top:5px;
    font-size:.85rem;
}

#contact-header{
    margin-bottom:.5rem;
}