nav{
    max-width: 42rem;
    margin-left:auto !important;
    margin-right:auto !important;
    padding:55px 15px;
}

#main-navbar{
    display:flex;
    align-items: center;
}

#main-navbar a{
    font-family: 'Roboto', sans-serif;
}

#main-navbar a:nth-child(1){
    font-size:3rem;
    font-weight:700;
    text-decoration: none;
}