.post-main{
    margin-top:75px;
    padding:15px;
}

.post-main p {
    color:#34434B;
}

.post-main a{
    text-decoration: none;
    color:#8C1616;
}

.post-main a:hover{
    text-decoration: underline;
}

.post-header{
    font-size:1.5rem;
    font-family: 'Roboto', sans-serif;
    margin-bottom:.5rem;
    margin-top:1rem;
    color:#34434B;
}

.post-list{
    font-family: 'Roboto', sans-serif;
    color:#34434B;
    line-height: 140%;
    list-style-type: circle;
    margin-left:25px;
    margin-top:25px;
}